// customize some Bootstrap variables
$primary: #B45B56;
$body-color: #635554;
$font-size-base:1.2rem;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

@import url('https://fonts.googleapis.com/css?family=Cormorant SC&display=swap');

body{

    background-color: #FFEFEF;

    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

h1{
    font-family: "Cormorant SC",serif;
    font-weight: 700;
    line-height: 1.22em;
    font-size: 8vmin;
}

.form-control{
    width: 362px;
}