// customize some Bootstrap variables
$primary: #ffcc05;
$body-color: white;
$font-size-base:1.2rem;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

body{
    background: url('../../public/images/fjru-duiczUIYUgt.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

h1{
    font-family: "Playfair Display",serif;
    font-weight: 700;
    line-height: 1.22em;
}

.form-control{
    width: 362px;
}